__pycache__

.calva
.clj-kondo
.cpcache
.ipynb_checkpoints
.nrepl-port
.vscode

*.pyc

clojupyter-standalone.jar
data/local
local
notebooks/build/local
notebooks/jupyter/.ipynb_checkpoints
notebooks/jupyter/local
notebooks/oz/local/
target

.git
