target
.ipynb_checkpoints
notebooks/jupyter/.ipynb_checkpoints
data/local
notebooks/oz/local/
notebooks/jupyter/local
notebooks/build/local
clojupyter-standalone.jar
local
__pycache__
.calva
.cpcache
.nrepl-port
*.pyc

.git
