__pycache__

.calva
.clj-kondo
.cpcache
.ipynb_checkpoints
.lsp
.nrepl-port
.vscode

*.class
*.pyc
*.swm
*.swn
*.swo
*.swp
*.swx
*.temp
*.tmp

classes
clojupyter-standalone.jar
data/local
local
node_modules
notebooks/build/local
notebooks/jupyter/.ipynb_checkpoints
notebooks/jupyter/local
notebooks/oz/local/
package-lock.json
target
tmp
