data/biodiversity filter=lfs diff=lfs merge=lfs -text
data/bowling-green.american-assembly filter=lfs diff=lfs merge=lfs -text
data/local filter=lfs diff=lfs merge=lfs -text
data/vtaiwan-uber-conv.ts-2015-08-28.exported-2020-07-02 filter=lfs diff=lfs merge=lfs -text
data/biodiversity/comments.csv filter=lfs diff=lfs merge=lfs -text
data/vtaiwan-uber-conv.ts-2015-08-28.exported-2020-07-02/comments.csv filter=lfs diff=lfs merge=lfs -text
data/vtaiwan-uber-conv.ts-2015-08-28.exported-2020-07-02/participants-votes.csv filter=lfs diff=lfs merge=lfs -text
data/vtaiwan-uber-conv.ts-2015-08-28.exported-2020-07-02/stats-history.csv filter=lfs diff=lfs merge=lfs -text
data/bowling-green.american-assembly/stats-history.csv filter=lfs diff=lfs merge=lfs -text
data/bowling-green.american-assembly/votes.csv filter=lfs diff=lfs merge=lfs -text
data/vtaiwan-uber-conv.ts-2015-08-28.exported-2020-07-02/summary.csv filter=lfs diff=lfs merge=lfs -text
data/biodiversity/summary.csv filter=lfs diff=lfs merge=lfs -text
data/biodiversity/participants-votes.csv filter=lfs diff=lfs merge=lfs -text
data/biodiversity/stats-history.csv filter=lfs diff=lfs merge=lfs -text
data/biodiversity/votes.csv filter=lfs diff=lfs merge=lfs -text
data/bowling-green.american-assembly/comments.csv filter=lfs diff=lfs merge=lfs -text
data/bowling-green.american-assembly/participants-votes.csv filter=lfs diff=lfs merge=lfs -text
data/bowling-green.american-assembly/summary.csv filter=lfs diff=lfs merge=lfs -text
data/vtaiwan-uber-conv.ts-2015-08-28.exported-2020-07-02/votes.csv filter=lfs diff=lfs merge=lfs -text
