{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.3"}
        techascent/tech.ml.dataset {:mvn/version "7.029"
                                    :exclusions [org.slf4j/slf4j-api]}
        com.taoensso/nippy {:mvn/version "3.4.1"}

        uncomplicate/neanderthal {:mvn/version "0.48.0"}
        uncomplicate/neanderthal-native {:mvn/version "0.46.0"}
        org.bytedeco/mkl-platform-redist {:mvn/version "2024.0-1.5.10"}
        generateme/fastmath {:mvn/version "2.4.0"}

        ;; For speeding up matrix operations with smile/tech.ml stack
        com.github.haifengl/smile-mkl {:mvn/version "3.0.3"}
        semantic-csv/semantic-csv {:mvn/version "0.2.1-alpha1"}
        ;; dtype-next has superceded tech.datatype
        cnuernber/dtype-next {:mvn/version "10.113"}
        net.mikera/core.matrix {:mvn/version "0.63.0"}
        clj-python/libpython-clj {:mvn/version "2.024"}
        org.clojure/tools.deps {:mvn/version "0.19.1432"
                                :exclusions [org.slf4j/slf4j-nop]}

        metasoarous/oz {:mvn/version "2.0.0-alpha5"}

        clojupyter/clojupyter {:mvn/version "0.4.319"}
        babashka/process {:mvn/version "0.5.22"}
        dk.ative/docjure {:mvn/version "1.19.0"}
        google-translate/google-translate {:mvn/version "0.1.2"}
        babashka/babashka.pods {:mvn/version "0.2.0"}
        com.github.seancorfield/honeysql {:mvn/version "2.6.1126"}}

 :aliases
 {:cider-nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.47.1"}
                             nrepl/nrepl {:mvn/version "1.1.1"}}
                :main-opts ["-m" "nrepl.cmdline"
                            "-b" "0.0.0.0"
                            "-p" "3850"
                            "--middleware" "[cider.nrepl/cider-middleware]"]}
  :depstar {:extra-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}}}}
