[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
altair = "*"
igraph = "*"
ipywidgets = "*"
leidenalg = "*"
matplotlib = "*"
notebook = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
seaborn = "*"
trimap = "*"
umap-learn = "*"

[dev-packages]
ipykernel = "*"
nbstripout = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
